.services {
  background-color: #e4fdf9;

  .itemsGroup {
    max-width: 1100px;

    .item {
      width: 18rem;
      margin: 0 15px 30px 15px;
      transition-duration: .3s;

      @media (max-width: 300px) {
        margin-right: 0;
        margin-left: 0;
      }

      h5 {
        transition-duration: .3s;
      }

      p {
        transition-duration: .3s;
      }

      &:hover {
        box-shadow: 2px 2px 13px 10px rgba(black, .15) !important;
        background-color: #00897b;

        h5 {
          color: white;
        }

        p {
          color: white;
        }



        button {
          color: white;
          border-color: white;

          &:hover {
            background-color: white;
            color: black;
          }
        }

        .icon {
          color: white;
        }
      }

      .icon {
        margin: 30px auto;
        transition-duration: .3s;
      }
    }
  }
}