$cardHeight: 480px;
$cardTopHeight: 180px;

.services {
  background-color: #e9ecef;

  .itemsGroup {
    max-width: 1100px;


  }
}

.card {
  width: 300px;
  height: $cardHeight;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 2px 2px 8px 6px rgba(black, .15);
  margin: 0 15px 30px 15px;

  @media (max-width: 400px) {
    width: 200px;
    height: $cardHeight - 100px;
  }

  .cardTop {
    background-color: #212529;
    height: $cardTopHeight;
    border-radius: 15px;

    @media (max-width: 400px) {
      height: $cardTopHeight - 51px;
    }

    .icon {
      color: white;
    }
  }

  .cardBottom {
    height: $cardHeight - $cardTopHeight;
    padding: 16px;

    @media (max-width: 400px) {
      height: $cardHeight - $cardTopHeight - 51px;
    }

    .cardTitle {
      font-size: 1.75rem;
    }

    .cardText {
      color: #595959;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 43px;
    }

    .button {
      bottom: 15px;
      left: 15px;
    }
  }
}

.buttonPrev {
  left: -12px!important;

  span {
    color: #212529;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }

}

.buttonNext {
  right: -12px!important;

  span {
    color: #212529;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
  }
}