.services {
  background-color: #e9ecef;

  .itemsGroup {
    max-width: 1100px;

    .card {
      $cardHeight: 480px;

      width: 300px;
      height: $cardHeight;
      background-color: white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      box-shadow: 2px 2px 8px 6px rgba(black, .15);
      margin: 0 15px 30px 15px;

      $cardTopHeight: 180px;

      .cardTop {
        background-color: #212529;
        height: $cardTopHeight;
        border-radius: 15px;

        .icon {
          color: white;
        }
      }

      .cardBottom {
        height: $cardHeight - $cardTopHeight;
        padding: 16px;

        .cardTitle {
          font-size: 1.75rem;

        }

        .cardText {
          color: #595959;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 43px;
        }

        .button {
          bottom: 15px;
          left: 15px;
        }
      }
    }
  }
}