.item {
  margin: 0 15px 30px 15px;
  background-color: black;

  &:hover {
    .itemName {
      opacity: 1;
    }

    .photo {
      opacity: 0.3;
    }
  }

  .itemName {
    opacity: 0;
    transition-duration: .3s;
  }

  .photo {
    transition-duration: .3s;

    @media (max-width: 390px) {
      width: 90vw;
    }
  }
}