.prices {
  background-color: #f0f1f1;

  .itemsGroup {
    @media (max-width: 770px) {
      display: block !important;
    }

    .item {
      max-width: 370px;
      width: 30%;
      background-color: #fff;
      transition-duration: .3s;
      margin-bottom: 30px;

      &:hover {
        box-shadow: 2px 2px 13px 10px rgba(black, .15) !important;
      }

      @media (max-width: 770px) {
        width: 280px;
      }

      @media (max-width: 330px) {
        width: 240px;
      }

      .itemTop {
        padding: 30px;
        background-color: #3949ab;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        margin-bottom: 70px;

        @media (max-width: 770px) {
          margin-bottom: 30px;
        }

        .priceText {
          height: 37px;

          .dol {
            padding-bottom: 40px;
          }

          .itemPrice {
            font-size: 1.5rem;
          }
        }
      }

      .description {
        width: 175px;

        .descriptionItem {
          border-bottom: 1px solid rgb(187, 187, 187);
          padding-bottom: 5px;
          margin-bottom: 60px;

          @media (max-width: 770px) {
            margin-bottom: 15px;
            border-bottom: none;
          }
        }

        .button {
          align-items: center;
          width: 175px;
          margin-bottom: 70px;

          @media (max-width: 770px) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}