.paddingTB130px {
  padding-top: 130px;
  padding-bottom: 130px;

}

.title {
  font-size: 3.5rem;
  font-weight: 300;
}

.paddingB130px {
  padding-bottom: 130px;
}

@media (max-width: 950px) {
  .paddingTB130px {
    padding-top: 60px;
    padding-bottom: 60px;
  
  }

  .paddingB130px {
    padding-bottom: 60px;
  }
}